.box{
    background-color: salmon;
    height: 200px;
}

.box2{
    background-color: seagreen;
    height: 200px;
}

.box3{
    background-color: seashell;
    height: 100px
}

.box4{
    background-color: slateblue;
    height: 100px;
}